.urlop {
    background-color: #ffeb3b !important;
    color: black;
}
.wolne {
    background-color: #8B5151 !important;
    color: white;
}
.aktualny {
    background-color: #ffe0e0 !important;
    color: black;
}
.zdalna {
    background-color: #d7d7f2 !important;
    color: black;
}
.delegacja {
    background-color: #B23D67 !important;
    color: white;
}
.szkolenie {
    background-color: #82C595 !important;
    color: black;
}